@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap') ;

body {
  background: #4b435e;
  font-family: Montserrat, sans-serif;
  margin: 0;
}

/* STYLE DA PAGINA DE LOGIN */
.main-login {
  align-items: center;
  background: #201b2c;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.left-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 50vw;
}

.left-login > h1 {
  color: #77ffc0;
}

.login-image {
  width: 30vw;
}

.right-login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 50vw;
}

.card-login {
  align-items: center;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0 10px 40px #00000056;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 35px;
  width: 60%;
}

.card-login > h1 {
  color: #0f8;
  font-weight: 800;
  margin: 0;
}

.textfield {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}

.textfield > input {
  background: #514869;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 40px #00000056;
  box-sizing: border-box;
  color: #f0ffffde;
  font-size: 12pt;
  outline: none;
  padding: 15px;
  width: 100%;
}

.textfield > span {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  background: #0f8;
  border: none;
  border-radius: 8px;
  box-shadow: 0 10px 40px -12px #00ff8052;
  color: #2b134b;
  cursor: pointer;
  font-weight: 950;
  letter-spacing: 3px;
  margin: 25px;
  outline: none;
  padding: 16px 0;
  text-transform: uppercase;
  width: 100%;
}

/* STYLE DO HEADER DA PAGINA WALLET */
header {
  align-items: center;
  background: #201b2c;
  color: #0f8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 0 16px;
}

h2 {
  font-size: 1.5em;
  font-weight: 200;
}

.title-wallet {
  font-size: 25pt;
  font-weight: 600;
  text-transform: uppercase;

  /* text-shadow: 0 6px 5px #514869; */
}

/* STYLE DA PAGINA MAIN DA WALLLET */
.main-wallet {
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.input-despesa {
  align-items: flex-start;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0 10px 40px #00000056;
  color: #77ffc0;
  display: flex;
  font-size: 11pt;
  font-weight: 200;
  height: 10%;
  justify-content: space-between;
  margin: 1% 7.5%;
  padding: 30px 35px;
  width: 80%;
}

.cx-input {
  background: #514869;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 40px #00000056;
  box-sizing: border-box;
  color: #f0ffffde;
  font-weight: 800;
  outline: none;
  padding: 15px;
  width: 80%;
}

.btn-add-despesa {
  background: #77ffc0;
  border: none;
  border-radius: 8px;
  box-shadow: 0 10px 40px -12px #00ff8052;
  color: #2b134b;
  cursor: pointer;
  font-size: 9pt;
  font-weight: 800;
  letter-spacing: 3px;
  margin: 15px;
  outline: none;
  padding: 10px 0;
  text-transform: uppercase;
  width: 20%;
}

/* STYLE DA TABLEA DENTRO DA MAIN */
.style-tbody {
  color: #f0ffffde;
  text-align: center;
}

.customers {
  border-collapse: separate;
  cursor: pointer;
  margin: 40px 180px;

}

.customers td , .customers th {
  border-radius: 8px;
}

.customers tr:nth-child( even ) { background-color: #514869;}

.customers tr:hover { background-color: #514868;}

.customers th {
  background-color: #04aa6d;
  border-radius: 8px;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn-editar {
  background: transparent;
  border: none;
  color: #f0ffffde;
  cursor: pointer;
  margin: 0 10px;
  outline: none;
}

.btn-excluir {
  background: transparent;
  border: none;
  color: #f0ffffde;
  cursor: pointer;
  margin: 0 10px;
  outline: none;
}
